body {
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-family: 'Alegreya SC', serif;
    color: rgba(0,0,0,.5);
} 

.main-header {
    margin: 0;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    background-color: #ffffff38;
    font-size: 2.5em;
    font-weight: 900;
}

.form {
    margin: 2rem 0;
}

.form-item{
    border: 0;
    padding: .5rem;
}

input[type="color"] {
    margin: .3rem;
}


.value-container {
    margin-top: 3rem;
}


.view {
    display: none;
}

